<!DOCTYPE html>
<html lang="en">
<head>

    <%- include ("../../partials/head.ejs") %>

    <title>My Profile</title>
</head>
<body>
 
    <%- include ("../../partials/header.ejs") %>

    <%- include ("../../partials/bubble.ejs") %>
    <a href="/" class="backPrePage"><i class="bi bi-arrow-bar-left"></i> Back to previous page</a>

    <div class="wrapper-profile">
        <h2 class="homeHeading">My Profile</h2>
        <form method="post" action="/me/update?_method=PUT">
            <div>
                <h4>Full Name</h4>
                <input class="form-control" type="text" name="name" placeholder="Full name" value="<%= user.name %>" required>
            </div>
            <div>
                <h4>Email</h4>
                <input class="form-control" type="email" name="email" placeholder="Email" value="<%= user.email %>" required>
            </div>
            <div>
                <h4>Joined On</h4>
                <p><%=user.createAt%></p>
            </div>
            
            <div>
                <button type="submit" class="btn" onclick="return confirm('Update?')">Change</button>
                <a href="/password/update" class="btn">Change Password</a>
            </div>
        </form>

    </div>

    <%- include ("../../partials/message.ejs")  %>

</body>
</html>