<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../partials/head.ejs") %>
    <title>Admin / Products</title>
</head>
<body>
    
    <%- include ("../../partials/header.ejs") %>

    <%- include ("../../admin/bubble.ejs") %>
    <h2 class="homeHeading" style="margin-top: 10px">All Products</h2>
    <div class="productWrapper row">

        <div class="productFilter col-3">
            <form method="get" action="/admin/products">
                <label for="">Search</label>
                <div class="searchBar">
                    <input type="text" name="keyword" class="form-control" required>
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
                </div>
            </form>
            <div class="price-Range">
                <a href="?price[gt]=0&price[lt]=20000000">Bellow 20M</a>
                <a href="?price[gt]=20000000&price[lt]=25000000">20M-25M</a>
                <a href="?price[gt]=25000000&price[lt]=35000000">25M-35M</a>
                <a href="?price[gt]=35000000&price[lt]=1000000000">Over 35tr</a>
            </div>
            <div class="brand-radio">
                <% brands.forEach(function(brand){ %>
                    <a href="?brand=<%= brand.name %>"><%= brand.name %></a>
                <% }) %>
            </div>
            <br>
            <a href="/admin/products" class="btn btn-primary">All Product</a>
        </div>
            <div class="col-9">
                <a title="Add product" href="/admin/products/new" class="btn btn-primary" style="float: right; margin-bottom: 10px; font-size: large;"><i class="bi bi-plus-circle-fill"></i></a>
                <table class="table">
                    <thead style="background-color: #eb4034;color: #fff;">
                        <tr>
                            <th style="width:10%">Image</th>
                            <th style="width:35%;text-align: center;">Name</th>
                            <th style="width:15%; text-align: center;">Price</th>
                            <th style="width:10%">Ratings</th>
                            <th style="width:10%; text-align: center;">Stock</th>
                            <th style="width:20%; text-align: center;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(function(product){%>

                            <tr>
                                <td><img src="/images/products/<%= product.images[0].url %>" width="100%"></td>
                                <td style="vertical-align: middle;"><%= product.name %></td>
                                <td style="text-align: center;vertical-align: middle;"><%= (product.price+"").replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>đ</td>
                                <td style="text-align: center;vertical-align: middle;"><%= product.ratings.toFixed(1) %></td>
                                <td style="text-align: center;vertical-align: middle"><%= product.Stock %></td>
                                <td style="vertical-align: middle;text-align: center;">
                                    <a href="/admin/product/<%= product._id %>" style="color: darkgreen;" class="btn"><i class="bi bi-eye-fill"></i></a>
                                    <a href="/admin/product/edit/<%= product._id %>" style="color: darkorange;" class="btn"><i class="bi bi-scissors"></i></a>
                                    <form action="/admin/product/<%= product._id %>?_method=DELETE" method="post" style="display: inline;">
                                        <button style="color: darkred;" class="btn" onclick="return confirm('Delete?')"><i class="bi bi-trash-fill"></i></button>
                                    </form>
                                </td>
                            </tr>

                        <%}) %>
                    </tbody>
                </table>
                <ul class="pagination">
                </li><li class="page-item"><a class="page-link" href="#">Previous</a></li><li>
                <%for(var i=1;i<=Math.ceil(productsLength/8);i++){
                    if(i==numberPage){%>
                        </li><li class="page-item active"><a class="page-link" href="?page=<%= i %>"><%=i%></a></li><li>
                    <%}else{%>
                        </li><li class="page-item"><a class="page-link" href="?page=<%= i %>"><%=i%></a></li><li>
                    <%}    
                }%>
                </li><li class="page-item"><a class="page-link" href="#">Next</a></li><li>
                </ul>
            </div>
        </div>
    </div>

    <%- include ("../../partials/message.ejs")  %>

    <!-- <%- include ("../../partials/footer.ejs") %> -->

</body>
</html>