<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../partials/head.ejs") %>
    <title>LapStore</title>
</head>
<body>
    
    <%- include ("../../partials/header.ejs") %>

    <%- include("../../partials/bubble.ejs") %>

    <div class="banner">
        <p>Welcome to LapStore</p>
        <h1>FIND AMAZING PRODUCTS BELOW</h1>
       <a href="#container"><button class="btn btn-light">Scroll <i class="bi bi-mouse2"></i></button></a>
    </div>

    <h2 class="homeHeading">Featured Products</h2>

    <%- include ("../../partials/message.ejs")  %>

    <%- include ("../../partials/footer.ejs") %>

</body>
</html>