<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../partials/head.ejs") %>
    <title>LapStore</title>
</head>
<body>
    
    <%- include ("../../partials/header.ejs") %>

    <%- include("../../partials/bubble.ejs") %>

    <div class="banner">
        <p>Welcome to LapStore</p>
        <h1>FIND AMAZING PRODUCTS BELOW</h1>
       <p><button class="scroll btn btn-light">Scroll <i class="bi bi-mouse2"></i></button></p>
    </div>

    <h2 class="homeHeading">Featured Products</h2>
    <div class="featuredProducts">
        <a href="#" class="productCard" >
            <img src="/images/products/swift-x-sfx14-41g-fpbl1-pp-01a.jpg" alt="">
            <p>Product Name</p>
            <div class="rating">
                <span>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </span>
                <span class="productCardSpan">
                    (2 Reviews)
                </span>
            </div>
            <span>12000d</span>
        </a>
        <a href="#" class="productCard" >
            <img src="/images/products/swift-x-sfx14-41g-fpbl1-pp-01a.jpg" alt="">
            <p>Product Name</p>
            <div class="rating">
                <span>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </span>
                <span class="productCardSpan">
                    (2 Reviews)
                </span>
            </div>
            <span>12000d</span>
        </a>
        <a href="#" class="productCard" >
            <img src="/images/products/swift-x-sfx14-41g-fpbl1-pp-01a.jpg" alt="">
            <p>Product Name</p>
            <div class="rating">
                <span>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </span>
                <span class="productCardSpan">
                    (2 Reviews)
                </span>
            </div>
            <span>12000d</span>
        </a>
        <a href="#" class="productCard" >
            <img src="/images/products/swift-x-sfx14-41g-fpbl1-pp-01a.jpg" alt="">
            <p>Product Name</p>
            <div class="rating">
                <span>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </span>
                <span class="productCardSpan">
                    (2 Reviews)
                </span>
            </div>
            <span>12000d</span>
        </a>
        <a href="#" class="productCard" >
            <img src="/images/products/swift-x-sfx14-41g-fpbl1-pp-01a.jpg" alt="">
            <p>Product Name</p>
            <div class="rating">
                <span>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </span>
                <span class="productCardSpan">
                    (2 Reviews)
                </span>
            </div>
            <span>12000d</span>
        </a>
        <a href="#" class="productCard" >
            <img src="/images/products/swift-x-sfx14-41g-fpbl1-pp-01a.jpg" alt="">
            <p>Product Name</p>
            <div class="rating">
                <span>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </span>
                <span class="productCardSpan">
                    (2 Reviews)
                </span>
            </div>
            <span>12000d</span>
        </a>
        <a href="#" class="productCard" >
            <img src="/images/products/swift-x-sfx14-41g-fpbl1-pp-01a.jpg" alt="">
            <p>Product Name</p>
            <div class="rating">
                <span>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </span>
                <span class="productCardSpan">
                    (2 Reviews)
                </span>
            </div>
            <span>12000d</span>
        </a>
        <a href="#" class="productCard">
            <img src="/images/products/swift-x-sfx14-41g-fpbl1-pp-01a.jpg" alt="">
            <p>Product Name</p>
            <div class="rating">
                <span>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </span>
                <span class="productCardSpan">
                    (2 Reviews)
                </span>
            </div>
            <span>12000d</span>
        </a>
    </div>


    <%- include ("../../partials/message.ejs")  %>

    <%- include ("../../partials/footer.ejs") %>

</body>
</html>