<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../partials/head.ejs") %>
    <title>LapStore</title>
</head>
<body>
    
    <%- include ("../../partials/header.ejs") %>

    <%- include("../../partials/bubble.ejs") %>

    <div class="banner">
        <p>Welcome to LapStore</p>
        <h1>FIND AMAZING PRODUCTS BELOW</h1>
       <p><button class="scroll btn btn-light">Scroll <i class="bi bi-mouse2"></i></button></p>
    </div>

    <h2 class="homeHeading">Featured Products</h2>
    <div class="featuredProducts">
        <% products.forEach(function(product){%>

            <a href="/product/<%= product._id %>" class="productCard" >
                <img src="/images/products/<%= product.images[0].url %>" alt="">
                <p><%= product.name %></p>
                <div class="rating">
                    <span>
                        <% for(var i=1;i<=5;i++){
                            if(product.ratings-1 >= 0){%>
                                <i class="bi bi-star-fill"></i>
                            <% product.ratings-- 
                            }
                            else if(product.ratings - 1 < 0 && product.ratings - 1 > -1 ){%>
                                <i class="bi bi-star-half"></i>
                            <%
                            product.ratings = Math.floor(product.ratings)
                            }
                            else{%>
                                <i class="bi bi-star"></i>
                            <%}
                        } %>
                    </span>
                    <span class="productCardSpan">
                        (<%= product.numOfReviews %> Reviews)
                    </span>
                </div>
                <span><%= product.price %></span>
            </a>

        <%}) %>
    </div>


    <%- include ("../../partials/message.ejs")  %>

    <%- include ("../../partials/footer.ejs") %>

</body>
</html>