<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../../partials/head.ejs") %>
    <title>Order Details</title>
</head>
<body>
    
    <%- include ("../../partials/header.ejs") %>

    <%- include("../../partials/bubble.ejs") %>
    <form action="/order/<%= order._id %>?_method=DELETE" id="form-cancelOrder" method="post"></form>
    <div class="wrapper-myOrderDetails">
        <div style="display: flex; justify-content: space-between; width: 100%; padding: 0 50px;">
            <p>Status: <%= order.orderStatus %>
            <% if(order.orderStatus.toLowerCase() === "processing"){%>
                    <button type="submit" class="btn" form="form-cancelOrder">Cancel Order</button>
            <%} %>
            </p>
            <% if(order.orderStatus.toLowerCase() === "delivered"){%>
                <p>Delivered At: <%= order.deliveredAt.toDateString() %></p>
            <%} %>
            <p>Order At: <%= order.createAt.toDateString() %></p>
        </div>
        <div class="row">
            <div class="col-6">
                <h3>Shipping Info</h3>
                <p><%= order.user.name %></p>
                <p>PhoneNo: <%= order.shippingInfo.phoneNo %></p>
                <p style="word-wrap: break-word;">Address: <%= order.shippingInfo.address +", "+ order.shippingInfo.city +", "+ order.shippingInfo.province %></p>
            </div>
            <div class="col-6">
                <h3>Payment Info</h3>
                <p>Method: <%= order.paymentInfo.method %></p>
                <p>Status: <%= order.paymentInfo.status %></p>
                <% if(order.paymentInfo.status === 'paid'){%>
                    <p>PaidAt: <%= order.paidAt.toDateString() %></p>
                <%} %>
                
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Products</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <% order.orderItems.forEach(function(item){%>
                    <tr>
                        <td style="width: 10%;"><img src="/images/products/<%=  item.image %>" width="100%"></td>
                        <td style="width: 40%; word-wrap: break-word; text-align: left;"><a href="/product/<%= item.product %>"><%= item.name %></a></td>
                        <td style="width: 20%;"><p><%= item.price %> đ</p></td>
                        <td style="width: 10%;"><p><%= item.quantity %></p></td>
                        <td style="width: 20%;"><p><%= item.quantity * item.price %>đ</p></td>
                    </tr>
                <%}) %>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td style="color: #eb4034;"><%= order.totalPrice %>đ</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <%- include ("../../partials/message.ejs")  %>

    <%- include ("../../partials/footer.ejs") %>

</body>
</html>